footer{
     background: #16d939;
  background: linear-gradient(
    90deg,
    rgba(22, 217, 57, 1) 0%,
    rgba(9, 99, 1, 1) 21%,
    rgba(43, 163, 34, 1) 100%
  );
  margin-top: 20%;
  padding-bottom: 10%;
  display: block;
  position: relative;
 
  font-size: 32px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Textointroductorio{
    color:#16d939;
    position: absolute;
    top:35%;
 text-shadow: 5px 4px 2px  black;
 
}
.Intro{
    position: relative;
    display: inline-block;
}
img{
    display: block;
    width: 100%;
    opacity: 0.9;
    box-shadow: 4px 8px 8px 8px black;
    background-color: black;

}